// GENERAL APP STYLING

.main-title {
  @include title(5rem);
}

.instructions-title {
  @include title(4rem);
  margin: 15px 0;
}

.instructions-subtitle {
  @include title(3rem);
}

.player-turn-text {
  font-size: 3rem;
  margin: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}


.mobile {
  display: none;
  &-pop-up-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(33,33,33,0.7);
  }
  &-pop-up {
    background: $bodyColor;
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border-radius: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      width: 75%;
      text-align: center;
    }
  }
}

footer {
  a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    &:hover {
      color: $titleColor;
    }
  }
}

// BOARD STYLING

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(7, 80px);
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  background: $boardColor;
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.19);
}

.column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background: none;
}

.cell {
  height: 60px;
  width: 60px;
  align-items: center;
  background: white;
  border-radius: 50%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: $redMarker;
}

.yellow {
  background-color: $yellowMarker;
}

.piece {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.19);
}

@media (max-width: 650px) {
  .board {
    grid-template-columns: repeat(7, 60px);
    padding: 10px;
  }
  .cell {
    height: 50px;
    width: 50px;
  }
  .piece {
    height: 50px;
    width: 50px;
  }
  .instructions-button, .play-again-button {
    margin: 30px 0;
  }
}

@media (max-width: 500px) {
  .board {
    grid-template-columns: repeat(7, 45px);
    padding: 5px;
  }
  .cell {
    height: 35px;
    width: 35px;
  }
  .piece {
    height: 35px;
    width: 35px;
  }
  .main-title {
    font-size: 4rem;
    margin: 30px 0;
  }
  .player-turn-text {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .mobile {
    display: block;
  }
}

// SMALL MOBILE LANDSCAPE-ONLY
@media (max-height: 320px) and (max-width: 600px) {
  .board {
    grid-template-columns: repeat(7, 45px);
  }
  .cell {
    height: 35px;
    width: 35px;
  }
  .piece {
    height: 35px;
    width: 35px;
  }
  .main-title {
    margin: 5px 0;
    font-size: 3rem;
  }
  .player-turn-text {
    font-size: 1.8rem;
  }
  .instructions-title {
    margin: 5px 0 0 0;
    font-size: 3rem;
  }
}