.instructions-button, .play-again-button, .chaos-button {
  margin: 15px 0;
  color: white;
}

.instructions-pop-out-container.hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(33,33,33,0.7);
  display: none;
}

.instructions-pop-out {
  background: $bodyColor;
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-radius: 10px;
  border: 5px solid black;
  // height: 100vh;
}

.instructions-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions-images-carousel {
  width: 100%;
  margin: 0 auto;
  display: none;
}

.instructions-image {
  width: 50%;
  margin-right: 10px;
  border-radius: 10px;
}

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  display: none;
}

.instructions-exit {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
}

.chaos-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}


@media (max-width: 900px) {
  .instructions-images-carousel {
    height: 100px;
  }
  .chaos-button {
    display: block;
  }
}

@media (max-height: 500px) {
  .instructions-images-carousel {
    width: 50%;
  }
  .flickity-page-dots {
    display: none;
  }
}