.instructions-modal-container.hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(33,33,33,0.7);
  display: none;
}

.instructions-modal {
  background: $bodyColor;
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-radius: 10px;
  border: 5px solid black;
  overflow-y: scroll;
}

.instructions-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions-nav {
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 15px;
  }
}

.instructions-text {
  line-height: 1.6;
}

@media (max-height: 320px) and (max-width: 600px) {
  .instructions-title {
    margin: 0;
  }
}