.swal-overlay {
  background-color: rgba(33,33,33,0.7);
}

.swal-modal {
  background-color: $bodyColor;
  border: 5px solid black;
  border-radius: 10px;
}

.swal-button {
  @include buttonStyling();
}

.swal-button:hover, .instructions-button:hover, .play-again-button:hover {
  background-color: $highlightColor;
}