$bodyColor: #FAF0E6; // linen
$titleColor: #F77683; // pink
$boardColor: #6495ED; // cornflowerblue
$highlightColor: #78cbf2;
$yellowMarker: #ffe14f;
$redMarker: #ff6347;

@mixin buttonStyling {
  padding: 7px 19px;
  background-color: $boardColor;
  font-size: 1.6rem;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.19);
  margin: 15px 0;
  color: white;
  &:hover {
    background-color: $highlightColor;
  }
}

@mixin title($fontSize) {
  text-align: center;
  font-weight: 700;
  color: $titleColor;
  text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
  font-size: $fontSize;
  margin: 15px 0;
}