@import 'setup';
@import 'board';
@import 'instructions';
@import 'sweet-alerts';

// font-family: 'Comfortaa', sans-serif;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Comfortaa', sans-serif;
  background-color: $bodyColor;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
}

.main-title, .instructions-title {
  text-align: center;
  font-weight: 700;
  color: $titleColor;
  text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
  font-size: 5rem;
  margin: 30px 0;
}

.instructions-title {
  margin: 15px 0;
  font-size: 4rem;
}

.player-turn-text {
  font-size: 3rem;
  margin: 0;
}

h2, p {
  text-align: center;
}

.wrapper {
  max-width: 590px;
  width: 95%;
  margin: 0 auto;
}

.mobile {
  display: none;
  &-pop-up-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(33,33,33,0.7);
  }
  &-pop-up {
    background: $bodyColor;
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border-radius: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      width: 75%;
      text-align: center;
    }
  }
}

footer {
  a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    &:hover {
      color: $titleColor;
    }
  }
}

@media (max-width: 650px) {
  .wrapper {
    max-width: 450px;
  }
  .instructions-button, .play-again-button {
    margin: 30px 0;
  }
}

@media (max-width: 500px) {
  .wrapper {
    max-width: 335px;
  }
  .main-title {
    font-size: 4rem;
    margin: 30px 0;
  }
  .player-turn-text {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .mobile {
    display: block;
  }
}

@media (max-height: 320px) and (max-width: 600px) {
  .wrapper {
    max-width: 345px;
  }
  .main-title {
    margin: 5px 0;
    font-size: 3rem;
  }
  .player-turn-text {
    font-size: 1.8rem;
  }
  .instructions-title {
    margin: 5px 0 0 0;
    font-size: 3rem;
  }
}