$bodyColor: #FAF0E6; // linen
$titleColor: #F77683; // pink
$boardColor: #6495ED; // cornflowerblue
$highlightColor: #78cbf2;
$yellowMarker: #ffe14f;
$redMarker: #ff6347;

@import 'setup';
@import 'board';
@import 'instructions';
@import 'sweet-alerts';

// font-family: 'Comfortaa', sans-serif;



html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Comfortaa', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.main-title, .instructions-title {
  text-align: center;
  font-weight: 700;
  color: $titleColor;
  text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
  font-size: 5rem;
  margin-top: 0;
}

.instructions-title {
  margin: 15px 0;
  font-size: 4rem;
}

.player-turn-text {
  font-size: 3rem;
}


h2, p {
  text-align: center;
}

body {
  background-color: $bodyColor;
  height: 100vh;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

// .mobile {
//   display: none;
//   &-pop-up-container {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 100;
//     background-color: rgba(33,33,33,0.7);
//   }
//   &-pop-up {
//     background: $bodyColor;
//     position: fixed;
//     top: 5%;
//     bottom: 5%;
//     left: 5%;
//     right: 5%;
//     border-radius: 10px;
//     border: 5px solid black;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     h2 {
//       width: 75%;
//       text-align: center;
//     }
//   }
// }

footer {
  a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    &:hover {
      color: $titleColor;
    }
  }
}


@media (max-width: 525px) {
  .mobile {
    display: block;
  }
}