@import 'setup';

// font-family: 'Comfortaa', cursive;
// font-family: 'Open Sans', sans-serif;

$bodyColor: #FAF0E6; // linen
$titleColor: #F77683; // pink
$backgroundColor: #6495ED; // cornflowerblue
$yellowMarker: #ffed66;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  color: #F77683;
  font-family: 'Comfortaa';
  text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
  font-size: 5rem;
}

body {
  background-color: #FAF0E6;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(7, 70px);
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  background: cornflowerblue;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.column.mouseover {
  background-color: rgba(33,33,33,0.2);
}

.cell {
  height: 50px;
  width: 50px;
  align-items: center;
  background: white;
  border-radius: 50%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: tomato;
}

.yellow {
  background-color: $yellowMarker;
}

.piece {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}


.swal-overlay {
  background-color: rgba(33,33,33,0.7);
}

.swal-modal {
  background-color: $bodyColor;
  border: 5px solid black;
  border-radius: 10px;
}

.swal-button {
  padding: 7px 19px;
  background-color: cornflowerblue;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
}

footer {

}
