article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.instructions-button, .play-again-button, .chaos-button {
  padding: 7px 19px;
  background-color: #6495ED;
  font-size: 1.6rem;
  border: 3px solid black;
  border-radius: 5px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19);
          box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19); }

.board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.board {
  display: inline-grid;
  grid-template-columns: repeat(7, 80px);
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  background: #6495ED;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19);
          box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19); }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px; }

.mouseover {
  background-color: rgba(33, 33, 33, 0.2); }

.cell {
  height: 60px;
  width: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 50%;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center; }

.red {
  background-color: #ff6347; }

.yellow {
  background-color: #ffe14f; }

.piece {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid black;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19);
          box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19); }

@media (max-width: 650px) {
  .board {
    grid-template-columns: repeat(7, 60px);
    padding: 10px; }
  .cell {
    height: 50px;
    width: 50px; }
  .piece {
    height: 50px;
    width: 50px; } }

@media (max-width: 500px) {
  .board {
    grid-template-columns: repeat(7, 45px);
    padding: 5px; }
  .cell {
    height: 35px;
    width: 35px; }
  .piece {
    height: 35px;
    width: 35px; } }

@media (max-height: 320px) and (max-width: 600px) {
  .board {
    grid-template-columns: repeat(7, 45px); }
  .cell {
    height: 35px;
    width: 35px; }
  .piece {
    height: 35px;
    width: 35px; } }

.instructions-button, .play-again-button, .chaos-button {
  margin: 15px 0;
  color: white; }

.instructions-pop-out-container.hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(33, 33, 33, 0.7);
  display: none; }

.instructions-pop-out {
  background: #FAF0E6;
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-radius: 10px;
  border: 5px solid black; }

.instructions-wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.instructions-text {
  line-height: 1.6; }

.instructions-images-carousel {
  width: 100%;
  margin: 0 auto;
  display: none; }

.instructions-image {
  width: 50%;
  margin-right: 10px;
  border-radius: 10px; }

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  display: none; }

.instructions-exit {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem; }

.chaos-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none; }

@media (max-width: 900px) {
  .instructions-images-carousel {
    height: 100px; }
  .chaos-button {
    display: block; } }

@media (max-height: 500px) {
  .instructions-images-carousel {
    width: 50%; }
  .flickity-page-dots {
    display: none; } }

@media (max-height: 320px) and (max-width: 600px) {
  .instructions-images-carousel {
    margin: 0; }
  .instructions-title {
    margin: 0; } }

.swal-overlay {
  background-color: rgba(33, 33, 33, 0.7); }

.swal-modal {
  background-color: #FAF0E6;
  border: 5px solid black;
  border-radius: 10px; }

.swal-button {
  padding: 7px 19px;
  background-color: #6495ED;
  font-size: 1.6rem;
  border: 3px solid black;
  border-radius: 5px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19);
          box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.19); }

.swal-button:hover, .instructions-button:hover, .play-again-button:hover {
  background-color: #78cbf2; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Comfortaa', sans-serif;
  background-color: #FAF0E6;
  height: 100vh; }

img {
  max-width: 100%;
  display: block; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-title, .instructions-title {
  text-align: center;
  font-weight: 700;
  color: #F77683;
  text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
  font-size: 5rem;
  margin: 30px 0; }

.instructions-title {
  margin: 15px 0;
  font-size: 4rem; }

.player-turn-text {
  font-size: 3rem;
  margin: 0; }

h2, p {
  text-align: center; }

.wrapper {
  max-width: 590px;
  width: 95%;
  margin: 0 auto; }

.mobile {
  display: none; }
  .mobile-pop-up-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(33, 33, 33, 0.7); }
  .mobile-pop-up {
    background: #FAF0E6;
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border-radius: 10px;
    border: 5px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobile-pop-up h2 {
      width: 75%;
      text-align: center; }

footer a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  footer a:hover {
    color: #F77683; }

@media (max-width: 650px) {
  .wrapper {
    max-width: 450px; }
  .instructions-button, .play-again-button {
    margin: 30px 0; } }

@media (max-width: 500px) {
  .wrapper {
    max-width: 335px; }
  .main-title {
    font-size: 4rem;
    margin: 30px 0; }
  .player-turn-text {
    font-size: 2rem; } }

@media (max-width: 350px) {
  .mobile {
    display: block; } }

@media (max-height: 320px) and (max-width: 600px) {
  .wrapper {
    max-width: 345px; }
  .main-title {
    margin: 5px 0;
    font-size: 3rem; }
  .player-turn-text {
    font-size: 1.8rem; }
  .instructions-title {
    margin: 5px 0 0 0;
    font-size: 3rem; } }
